* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
	
html {
	height: 100%;
	width: 100%;
}

body {
	font-size: 16px;
	height: 100%;
	width: 100%;
}

header {
	background-color: #000;
	border-bottom: 5px solid #fdf731;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header a {
	text-decoration: none;
	display: inline-block;
	white-space: nowrap;
}

header h1 {
	margin: 0 2%;
	color: #fdf731;
	font-family: Merriweather, serif;
	font-weight: 700;
	font-size: 1.875em;
}

nav {
	height: 100%;
	width: 55%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav a {
	padding: 4% 0;
	display: inline-block;
	text-decoration: none;
	color: #fff;
	font-size: 1.25em;
	font-family: "Source Sans Pro", sans-serif;
}

nav a:active {
	background: rgba(255,255,255,.6);
}

.caps {
	font-family: Oswald, serif;
	font-weight: 700;
}

.tagline {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 10%;
	background-color: #ddd;
	font-size: 1.563em;
	font-weight: 700;
	font-style: italic;
	font-family: Merriweather, serif; 
}

.strike {
	color: #909090;
	text-decoration: line-through;
	text-decoration-color: #909090;
}

.underline {
	border-bottom: 3px solid #fdf731;
}

.profile {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background-image: url(../images/coworking.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.profilebox {
	margin: 3%;
	padding: 3%;
	width: 35%;
	background-color: rgba(255, 255, 255, .8);
}

h2 {
	font-size: 1.875em;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 700;
	margin: 0;
}

p {
	font-size: 1.25em;
	font-family: "Source Sans Pro", sans-serif;
}

.submit {
	font-size: 1.25em;
	font-family: Oswald, serif;
	font-weight: 700;
	background-color: #fdf731;
	border: none;
	border-bottom: .2rem solid #cccc00;
    border-radius: .4rem;
    width: 100%;
    padding: .5rem 0;
}

.submit:active {
	background-color: #666;
}

section {
	display: flex;
	padding: 2.5%;
	align-content: space-around;
	justify-content: space-around;
	align-items: center;
	max-width: 100%;
}

.left {
	border-right: 1px solid #ddd;
}

.grey {
	background-color: #c0c0c0;
	border-bottom-color: #909090;
}

section div {
	background: #fff;
	padding: 1% 1%;
	margin: .5%;
}

.imagebox {
	margin: 0 auto;
	padding: 0;
	height: 280px;
	width: 280px;
	background-image: url(../images/placeholder.png);
}

.imagebox img {
	height: 280px;
	width: 280px;
}

.skill {
	color: #fff;
	background-color: #686868;
	font-size: 14px;
	border-radius: 12px;
	padding: 0 9px;
	text-align: center;
}

footer {
	height: 10%;
	background-color: #000;
	display: flex;
	align-items: flex-end;
}

footer p {
	margin: .8% 2%;
	color: #fff;
	font-size: 1.25em;
	font-family: "Source Sans Pro", sans-serif;
}

@media only screen and (max-width: 768px) {

	header {
		align-items: flex-end;
		justify-content: space-between;
	}

	header h1 {
		margin: 5% 0 0 1%;
		font-size: 1.5em;
	}

	nav {
		display: none;
	}

	.hamburger {
		margin: 2% 5%;
		width: 20%;
		height: 30px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.hamburger div {
 		height: 5px;
		background: #fdf731;
		border-radius: 4px; 
	}

	nav a {
		padding: 2% 0;
	}

	.tagline {
		display: none;
	}

	.hidetext {
		display: none;
	}

	.profilebox {
		width: 70%;
	}

	section {
		flex-direction: column;
		padding: 0;
	}

	.left {
		border: none;
	}

	section div {
		padding: 2%;
	}
}

@media screen and (max-width: 900px) and (min-width: 769px) {
	header a {
		white-space: pre-wrap;
	}

    nav a {
    	margin: 0 2%;
    	text-align: center;
    }

}