* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
	
html {
	height: 100%;
	width: 100%;
}

body {
	font-size: 16px;
	height: 100%;
	width: 100%;
}

header {
	background-color: #000;
	border-bottom: 5px solid #fdf731;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

header h1 {
	color: #fdf731;
	font-family: Merriweather, serif;
	font-weight: 700;
	font-size: 1.875em;
}

nav {
	width: 55%;
	display: flex;
	justify-content: space-between;
}

nav a {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	font-size: 1.25em;
	font-family: "Source Sans Pro", sans-serif;
}

.caps {
	font-family: Oswald, serif;
	font-weight: 700;
}

.tagline {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 10%;
	background-color: #ddd;
	font-size: 1.563em;
	font-weight: 700;
	font-style: italic;
	font-family: Merriweather, serif; 
}

.strike {
	color: #909090;
	text-decoration: line-through;
	text-decoration-color: #909090;
}

.underline {
	border-bottom: 3px solid #fdf731;
}

.profile {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background-image: url(../images/coworking.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.profilebox {
	margin: 3%;
	padding: 3%;
	width: 35%;
	background-color: rgba(255, 255, 255, .8);
}

h2 {
	font-size: 1.875em;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 700;
	margin: 0;
}

p {
	font-size: 1.25em;
	font-family: "Source Sans Pro", sans-serif;
}

.submit {
	font-size: 1.25em;
	font-family: Oswald, serif;
	font-weight: 700;
	background-color: #fdf731;
	border: none;
	border-bottom: .2rem solid #cccc00;
    border-radius: .4rem;
    width: 100%;
    padding: .5rem 0;
}

.submit:active {
	background-color: #666;
}

section {
	display: flex;
	padding: 5%;
}

.left {
	border-right: 1px solid #ddd;
}

.grey {
	background-color: #c0c0c0;
	border-bottom-color: #909090;
}

section div {
	padding: 0 2%;
}

footer {
	height: 10%;
	background-color: #000;
	display: flex;
	align-items: flex-end;
}

footer p {
	margin: .8% 2%;
	color: #fff;
	font-size: 1.25em;
	font-family: "Source Sans Pro", sans-serif;
}

@media only screen and (max-width: 768px) {
	body {
		font-size: 20px;
	}

	header {
		width: 100%;
		flex-direction: column;
		justify-content: center;
	}

	header h1 {
		text-align: center;
	}

	nav {
		width: 100%;
		flex-direction: column;
		align-items: center;
	}

	nav a {
		padding: 2% 0;
	}

	.tagline {
		height: auto;
	}

	.tagline p {
		padding: 0 2%;
		text-align: center;
	}

	.profile {
		align-items: flex-end; 
		justify-content: center;
	}

	.profilebox {
		width: 90%;
	}

	section {
		flex-direction: column;
		padding: 0;
	}

	.left {
		border: none;
		border-bottom: 1px solid #ddd;
	}

	section div {
		padding: 2%;
	}
}